<!-- reusing navigation code and footer code -->

#headnav {
  font-family:"roboto", serif;
  background-color: lightgrey;
#mainimage {

     max-width: 80vmin
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #e3e3e3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
#skills, #aboutme {
    width: 100%;
    height: 30px;
    }

th {
    background-color:#ddd;
    } 
tr {
    color:#0c1e93;
   }


}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black; 
}
li a:active{
    background-color:#4B3F72;
}
#footernav{
    display: block;
    color: navy;
    text-align: right;
    padding: 0px 0px;
    text-decoration: none;
}
p1 {
    padding:150px;
    margin: 10px 20px;
    color:#141414;
}
#intro {
    width:100%;
}
#accolades, #heading {
    width:100%;
}
th, #accolades{
    padding: 8px;
    text-align: left;

}

tr:hover
{
    background-color: #eec643;
} 
tr:nth-child(even)
{
    background-color: #78fecf;
} 

h3 {
    color:#5b5b5b;
    padding:2px 0px;
    text-decoration:underline;
}


