#headnav {
  font-family:"roboto", serif;
  background-color: lightgrey;
#mainimage {

     max-width: 80vmin
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #e3e3e3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
#skills, #aboutme, #blurb {
    width: 100%;
    height: 30px;
    }

th {
    background-color:#ddd;
    } 
tr {
    color:#0c1e93;
   }



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black; 
}
li a:active{
    background-color:#4B3F72;
}

#bbox {
    color:#333;
}
h2{
    font-family: "roboto", serif;
    color:#333;
    background-color:#FBFAF9;
    padding:20px 20px;
   
}
p3{
    color: #332;
      background-color:#FBFAF9;
      width"20px;"
}
#footernav{
    display: block;
    color: navy;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

    
}



